.home {
  background-color: var(--slate-a10);
  background-image: url("/img/background.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: luminosity;

  .home-content {
    .rt-ContainerInner {
      height: 100%;
      min-height: 400px;
    }
  }
}
